@import url("https://fonts.cdnfonts.com/css/sottel");

:root {
  --blue: #3ba1c5;
  --light: #d3eaf2;
  --dark: #134b5f;
  --black: black;
  --white: white;
  --sottel: "Sottel", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

a {
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
}

a:hover {
  color: var(--light);
}

h1 {
  font-size: 30px;
  color: var(--black);
}

h2 {
  font-size: 35px;
  color: var(--dark);
}

h3 {
  font-size: 20px;
  color: var(--black);
}

h4 {
  font-size: 10px;
  color: var(--black);
}

h5 {
  font-size: 8px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 2em;
}

p {
  margin: 0;
  font-size: 20px;
  line-height: 2rem;
  color: var(--black);
}

.heading {
  line-height: 2rem;
  text-align: center;
}

/*NAVBAR- */

nav {
  display: grid;
  position: fixed;
  place-items: center;
  height: 8rem;
  z-index: 1;
  background: var(--blue);
  width: 100%;
}

.navBar {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1500px;
  width: 80%;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.owner {
  font-family: var(--sottel);
  font-size: 60px;
  text-decoration: none !important;
  color: var(--white) !important;
}

.navLinks {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 4rem;
}

/* HERO BANNER*/

.hero-banner {
  display: grid;
  padding-top: 9rem;
  grid-template-columns: 1fr 1fr;
  max-width: 50%;
  justify-content: space-between;
}

.hero-left {
  position: relative;
  left: 25%;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.icon {
  width: 50px;
  height: max-content;
}
.hero-right {
  position: relative;
  left: 125%;
  text-align: center;
  margin: auto;
}

.hero-right h1 {
  color: var(--dark);
  font-family: var(--sottel);
  font-size: 50px;
}

.hero-right .logos {
  display: flex;
  margin-top: 1rem;
  gap: 3rem;
  justify-content: space-around;
}

/*PAGE WRAPPER*/

.about {
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 40% auto;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 5rem;
  border-width: 1px 0 1px;
  border-color: var(--blue);
  border-style: solid;
}

.about-left {
  text-align: center;
}

.about-right {
  text-align: left;
  margin-right: 10%;
}

.about:hover {
  background-color: var(--light);
}

/*PORTFOLIO CONTAINER*/

.projects {
  display: grid;
  align-items: center;
  padding-top: 5rem;
  padding-right: 0px;
  padding-left: 230px;
  padding-bottom: 5rem;
  grid-template-columns: 70% auto;
  border-width: 0 0 1px;
  border-color: var(--blue);
  border-style: solid;
  /*background-color:var(--dark);*/
}
.resume-right {
  text-align: center;
}

.resume-left {
  text-align: left;
  margin-right: 10%;
}

.projects h2 {
  text-align: center;
  padding-bottom: 0.5rem;
}

.projects:hover {
  background-color: var(--light);
}

#resume-container {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 250px 200px 150px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "horiseon horiseon horiseon"
    "horiseon horiseon horiseon"
    "tba1 tba2 tba3";
}

#horiseon {
  grid-area: horiseon;
  background-image: url("../../images/horieson2.jpg");
}

#tba1 {
  grid-area: tba1;
  background-image: url("../../images/02-portfolio-2.jpg");
}
#tba2 {
  grid-area: tba2;
  background-image: url("../../images/02-portfolio-1.jpg");
}
#tba3 {
  grid-area: tba3;
  background-image: url("../../images/02-portfolio-3.jpg");
}

.project {
  padding: 24px;
  border: 3px solid var(--light);
  border-radius: 10px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.project:hover {
  border: 3px solid var(--dark) !important;
}

#resume-container h3 {
  background-color: rgba(0, 0, 0, 0.499);
  padding: 5px;
  color: var(--white);
  font-size: 18px;
  border-bottom: 5px solid var(--blue);
}

/*CONTACT ME*/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 2rem;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  max-width: 40rem;
  border: 3px solid var(--dark);
  padding: 10px;
  border-radius: 40px;
}

.email,
.linkedin,
.whatsapp {
  display: flex;
  align-items: center;
}

.contact img:hover {
  border: 1px solid var(--light);
}

.contact:hover {
  background-color: var(--light);
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1024px) {
  .about {
    gap: 30px;
  }

  #resume-container {
    grid-template-columns: 2fr;
    grid-template-areas:
      "horiseon horiseon"
      "horiseon horiseon"
      "tba1 tba2 tba3";
  }
}

@media screen and (max-width: 991px) {
  .owner,
  .hero-left,
  .logos .icon {
    display: none;
  }

  .navLinks,
  .hero-banner {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  .hero-left {
    width: 50%;
    margin: 0 auto;
  }

  .hero-right {
    width: 50%;
    margin: 0 auto;
  }

  .about {
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }

  .about-right p {
    text-align: center;
    margin-left: auto;
    margin-left: 15%;
  }

  #resume-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "horiseon"
      "horiseon"
      "tba1"
      "tba2"
      "tba3";
  }
}
